{{define "text_message"}}
<div class="wa-message {{if eq .Sender "business"}}wa-message-self{{else}}wa-message-other{{end}} message-item" data-message-text="{{.Value}}">
  <div class="wa-bubble">
    <div class="wa-bubble-text">{{.Value}}</div>
    <div class="wa-bubble-meta">
      <span class="wa-bubble-time">{{.CreatedAt.Format "3:04 PM"}}</span>
      {{if eq .Sender "business"}}
      <span class="wa-bubble-status"><i class="fas fa-check"></i></span>
      {{end}}
    </div>
  </div>
</div>
{{end}}
